body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto 0 auto;
}

.conteudo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}


.informacoes .logo {
    max-width: 550px;
    height: 60px;
    /* filter: invert(1); */
    margin-bottom: 40px;

}


.informacoes .descricao {
    width: 49%;
    font-size: 19px;
    line-height: 30px;
    color: #080808;
}

.informacoesClassificacao h4{

    font-weight: 500;

}

.informacoesClassificacao h4 span{
    padding: 0 10px;
    border-right: 1px solid;
}

.back .informacoesClassificacao h4 span:first-child {
    padding-left: 0;
}

.informacoesClassificacao h4 span:last-child {
    border-right: none;
}

.informacoesClassificacao h4 span i {
    background: rgb(5, 163, 110) ;
    color: #ffff;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.conteudo .informacoes .botoes {
    position: relative;
} 

.botoes a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: #ffffff;
    color: black;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menuLateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menuLateral ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuLateral .icone {
    width: 30px;
    /* filter: invert(1); */
    transition: 0.3s ease-in-out;
}

.menuLateral .icone:hover {
    transform: scale(1.2);
}

.back {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.back .imagem{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
}